[submodule "Mantle"]
	path = Mantle
	url = https://github.com/github/Mantle.git
	ignore = dirty
[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
	ignore = dirty
[submodule "Configuration"]
	path = Configuration
	url = https://github.com/jspahrsummers/xcconfigs.git
	ignore = dirty
