github "AFNetworking/AFNetworking" ~> 3.0
github "Mantle/Mantle" ~> 2.0

github "Overcoat/MTLManagedObjectAdapter" "pullReq/noCompareNullOnType"
github "mxcl/PromiseKit" >= 2.0
github "ReactiveCocoa/ReactiveCocoa" ~> 4.0
