github "AFNetworking/AFNetworking" ~> 3.0
github "Mantle/Mantle" ~> 2.0

github "Mantle/MTLManagedObjectAdapter" "master"
github "mxcl/PromiseKit" == 3.4.4
github "ReactiveCocoa/ReactiveCocoa" ~> 4.0
