github "AFNetworking/AFNetworking" ~> 3.0
github "Mantle/Mantle" ~> 2.0

github "antitypical/Result"
github "Mantle/MTLManagedObjectAdapter" "master"
github "mxcl/PromiseKit" >= 2.0
github "mxcl/OMGHTTPURLRQ" ~> 3.2
github "ReactiveCocoa/ReactiveCocoa" ~> 2.4
